<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/resultado" method="post">
		<input type="text" name="numerooculto">
		<input type="text" name="numerojugada">
		<input type="submit" name="Adivinar" value="Adivinar">
	</form>
</body>
</html>